@use "../foundation/" as *;

.l-header {
    @include media(PC){
        display: flex;
        width: $headerWidth_PC;
        height: $headerHeight_PC;
        justify-content: space-between;
        align-items: center;
    }
    @include media(iPad){
        display: flex;
        flex-flow: wrap;
        height: $headerHeight_iPad;
        justify-content: space-between;
        align-items: center;
        width: $headerWidth_iPad;
    }
    @include media(iPhone){
        display: flex;
        flex-flow: wrap;
        height: $headerH_iPhone;
        justify-content: space-between;
        align-items: center;
        width: $headerWidth_iPad;
    }
}