@use "../global" as *;
@use "../foundation/" as *;

.l-main {
    display: flex;
    width: $headerWidth_PC;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column wrap;
    @include media(iPad){
        width: 100vw;
    }
}