@use "../../foundation/" as *;
.p-articles{
    &__MainCard {
        width: 33vw;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        // aspect-ratio: 625 / 1193;
        @include media(iPad){
            width: 43vw;
        }
        @include media(iPhone){
            width: 89.3vw;
            min-height: 171.2vw;
            max-height: auto;
        }
    }
    &__MainMap {
        @include media(PC){
            width: 49.5vw;
            height: 100%;
            display: block;
            aspect-ratio: 950 / 649;
        }
        @include media(iPad){
            width: 100vw;
            height: 100%;
            display: block;
            aspect-ratio: 1553/649;
        }
    }
}