@use "../../foundation/" as *;

@include media(iPad){
    .p-body--FrontPage {
        &::before {
            display: none;
            content: "";
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100%;
            background-color: $bgColor_NavBase;
            transition: opacity 1s;
        }
        &.inactive {
            &::before {
                display: block;
                content: "";
                opacity: 1;
                position: absolute;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100%;
                background-color: $bgColor_NavBase;
                transition: opacity 1s;
            }
        }
    }
}