@use "../../foundation/" as *;

.p-button {
    &__clickable {
        position: absolute;
        top: 3.6vw;
        font-size: 4.1vw;
        right: 2.9vw;
        z-index: 10000;
        color: $textColor_Gray;
        transition: 10ms;
        transition-delay: 990ms;
        @include media(iPad){
            font-size: 4.1vw;
        }
        @include media(iPhone){
            font-size: 5.5vw;
        }
        &:hover {
            cursor: pointer;
        }
        &.clicked {
            position: absolute;
            top: 3.6vw;
            font-size: 4.1vw;
            right: 2.9vw;
            z-index: 10000;
            color: transparent;
            transition: 10ms;
            @include media(iPad){
                font-size: 4.1vw;
            }
            @include media(iPhone){
                font-size: 5.5vw;
            }    
            &::before, &::after {
                z-index: 10000;
                @include media(iPad){
                    content: "";
                    position: absolute;
                    top: 1.9vw;
                    right: 2.8vw;
                    width: 3.8vw;
                    height: 0.5vw;
                    background-color: $textColor_Gray;
                }
                @include media(iPhone){
                    content: "";
                    position: absolute;
                    top: 6.7vw;
                    right: 4.5vw;
                    width: 8.5vw;
                    height: 1.6vw;
                    background-color: $textColor_Gray;
                }
            }
            &::before {
                transform: rotate(-45deg);
            }
            &::after {
                transform: rotate(45deg);
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}