@use "../../foundation/" as *;

.p-button {
    &__clickable {
        position: absolute;
        top: 3.6vw;
        font-size: 4.1vw;
        right: 2.9vw;
        color: $textColor_Gray;
        &.clicked {
            position: absolute;
            top: 2.8vw;
            right: 2.8vw;
            z-index: 10000;
            font-size: 0;
            &::before, &::after {
                content: "";
                position: absolute;
                top: 1.9vw;
                right: 2.8vw;
                width: 3.8vw;
                height: 0.5vw;
                background-color: $textColor_Gray;
            }
            &::before {
                transform: rotate(-45deg);
            }
            &::after {
                transform: rotate(45deg);
            }
        }
    }
}