@use "../../foundation/" as *;

.p-nav {
    @include media(iPad) {
        &--NavMenu {
            width: $navMenuWidth_PC;
            height: 100%;
            &__title {
                width: $navMenuWidth_PC;
            }
            &__subMenu {
                width: $navMenuWidth_PC;
                max-height: 100%;
            }
        }
    }
    &--NavMenu {
        width: $navMenuWidth_PC;
        height: 100%;
        &__title {
            width: $navMenuWidth_PC;
        }
        &__subMenu {
            width: $navMenuWidth_PC;
            max-height: 100%;
        }
    }
}