@use "../../foundation/" as *;

.p-nav {
    @include media(iPad) {
        &--NavMenu {
            width: $navMenuWidth_iPad;
            height: 100%;
            &__title {
                width: $navMenuWidth_iPad;
            }
            &__subMenu {
                width: $navMenuWidth_iPad;
                max-height: 100%;
            }
        }
    }
    @include media(PC){
        &--NavMenu {
            width: $navMenuWidth_PC;
            height: 100%;
            &__title {
                width: $navMenuWidth_PC;
            }
            &__subMenu {
                width: $navMenuWidth_PC;
                max-height: 100%;
            }
        }
    }
}