@use "../../foundation/" as *;
.p-search {
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    @include media(iPad){
        width: $headerWidth_iPad;
        display: flex;
        position: relative;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    &__Window {
        display: inline-block;
        position: relative;
        align-items: center;
        justify-content: flex-start;
        border: 1px solid $textColor_Gray;
        border-radius: 0.52vw;
        width: 21vw;
        height: $searchHeight_PC;
        line-height: $searchHeight_PC;
        margin: auto 0.7vw auto auto;
        padding: 0 0 0 0.6vw;
        text-indent: $searchHeight_PC;
        @include media(iPad){
            height: 5.5vw;
            width: 47vw;
            padding: 0 0 0 4vw;
            margin: auto 1.6vw auto auto;
        }
        @include media(iPhone){
            height: 12.3vw;
            width: 61.3vw;
            padding: 0 0 0 8vw;
            margin: auto -1.6vw auto auto;
            border-radius: 2.7vw;
        }
        &--lupe {
            display: inline-block;
            position: absolute;
            // content: "";
            // background-image: url(/images/icon_lupe.png);
            // background-repeat: no-repeat;
            // background-size: contain;
            top: 0;
            bottom: 0;
            left: 0.6vw;
            margin: auto 0;
            width: 1.25vw;
            height: 1.25vw;
            line-height: 1.25vw;
            @include media(iPad){
                position: relative;
                top: 1.8px;
                left: -47vw;
                margin: 0;
                width: 2.9vw;
                font-size: 2.9vw;
                height: 2.9vw;
                line-height: 2.9vw;
            }
            @include media(iPhone){
                position: relative;
                top: 0.3vw;
                left: -58.5vw;
                margin: 0;
                width: 6.4vw;
                height: 6.4vw;
                line-height: 6.4vw;
                font-size: 5vw;
            }
        }
    }
    &__Button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row nowrap;
        border: 1px solid $textColor_Gray;
        border-radius: 0.52vw;
        background: linear-gradient($linearGradientS, $linearGradientE);
        width: 7vw;
        height: $searchHeight_PC;
        @include media(iPad){
            height: 5.5vw;
            width: 16vw;
            margin: 0 0 0 -3.6vw;
        }
        @include media(iPhone){
            height: 12.3vw;
            width: 20.8vw;
            margin: 0 0 0 -3.2vw;
            border-radius: 2.7vw;
        }
        &--text {
            display: inline-block;
            height: $searchHeight_PC;
            line-height: $searchHeight_PC;
            @include media(iPad){
                line-height: 5.5vw;
                height: 5.5vw;
            }
            @include media(iPhone){
                line-height: 12.3vw;
                height: 12.3vw;
            }
        }
    }
}