@use "../../foundation/" as *;

.p-section {
    &--PageTitle {
        display: block;
        height: 27.6vw;
        @include media(PC){
            width: $headerWidth_PC;
        }
        width:100vw;
    }
    &--MainCard {
        width: 69.375vw;
        height: minmax(62.13vw,auto);
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }
    &--MainMap {
        width: 100%;
        height: auto;
        display: block;
        aspect-ratio: 1553 / 649;
    }
}