
@use "../../foundation/" as *;

.c-background {
    background-color: $textColor_White;
    &__FrontPage-main{
    }
    &__Header   {
        background-color: $bgColor_Header;
    }
    &__NavMenu  {
        background-color: $bgColor_NavMenu;
    }
    &__MainTitle {
        background-image: image-set(url(/images/mainvisual-pc.jpg) 1x, url(/images/mainvisual-pc@2x.jpg) 2x);
        background-image: -webkit-image-set(url(/images/mainvisual-pc.jpg) 1x, url(/images/mainvisual-pc@2x.jpg) 2x);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @include media(iPhone){
            background-image: image-set(url(/images/mainvisual-sp.jpg) 1x, url(/images/mainvisual-sp@2x.jpg) 2x);
            background-image: -webkit-image-set(url(/images/mainvisual-sp.jpg) 1x, url(/images/mainvisual-sp@2x.jpg) 2x);
            background-position: bottom right;
        }
    }
    &__MainCard {
        &--takeout {
            background: url(/images/bg_takeout.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
        &--eatin {
            background: url(/images/bg_eatin.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
        &--text {
            background-color: $bgColor_CardText;
        }
    }
    &__Map {
        &--text  {
            background-color: $bgColor_MapText;
        }
        &--img   {
            background: center / cover no-repeat url(/images/map.png), $bgColor_MapImg;
        }
    }
    &--Footer   {
        background-color: $bgColor_Footer;
    }
}