
@use "../../foundation/" as *;

.c-background {
    background-color: $textColor_White;
    &__FrontPage-main{
        @include media(iPad){
        }
    }
    &__Header   {
        background-color: $bgColor_Header;
    }
    &__NavMenu  {
        background-color: $bgColor_NavMenu;
    }
    &__MainTitle {
        background: url(/images/bg_frontpage_main.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__MainCard {
        &--takeout {
            background: url(/images/bg_takeout.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
        &--eatin {
            background: url(/images/bg_eatin.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
        &--text {
            background-color: $bgColor_CardText;
        }
    }
    &__Map {
        &--text  {
            background-color: $bgColor_MapText;
        }
        &--img   {
            background: center / cover no-repeat url(/images/map.png), $bgColor_MapImg;
        }
    }
    &--Footer   {
        background-color: $bgColor_Footer;
    }
}