@use "../../foundation/" as *;

@include media (iPad) {
    .c-grid {
        &__FrontPage {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: fit-content($headerHeight_PC) fit-content(100%) fit-content($footerHeight_PC);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            & > &-header {
                grid-area: 1 / 1 ;
                align-self: start;
            }
            & > &-main {
                grid-area: 2 / 1 ;
                align-self: start;
            }
            & > &-footer {
                grid-area: 3 / 1 ;
                align-self: start;
            }
        }
    }
}
@include media (PC) {
    .c-grid {
        &__FrontPage {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: fit-content($headerHeight_PC) fit-content(100%) fit-content($footerHeight_PC);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            & > &-header {
                grid-area: 1 / 1 / 2 / 2;
                align-self: start;
            }
            & > &-nav {
                grid-area: 1 / 2 / 3 / 3;
                align-self: start;
            }
            & > &-main {
                grid-area: 2 / 1 / 3 / 2;
                align-self: start;
            }
            & > &-footer {
                grid-area: 3 / 1 / 4 / 3;
                align-self: start;
            }
        }
    }
}

