@use "../../foundation/" as *;

.c-overflow {
    &__FrontPage {
        &--navMenu {
            overflow: hidden;
        }
        @include media(iPad){
            overflow-x: hidden;
        }
    }
    &__MainCard {
        &--text {
            @include media(iPad){
                overflow: hidden;
            }
        }
    }
    &__NavMenu {
        overflow: hidden;
        &.active {
            overflow-y: scroll;
            overflow-x: hidden;
        }
    }
}