@use "../../foundation/" as *;

@include media (iPad) {
    .c-position {
        &--Frontpage {
            position: relative;
            }
        &--NavMenu {
            position: absolute;
            top: 0;
            left: auto;
            right: $navMenuWidth_iPad * -1;
        }
    }
}
