@use "../../foundation/" as *;

@include media (iPad) {
    .c-position {
        &--FrontPage {
            position: relative;
            &.inactive {
                position: fixed;
            }
        }
        &--NavMenu {
            position: fixed;
            top: 0;
            left: 100%;
            right: $navMenuWidth_iPad * -1;
            transition: right 1s;
            &.active {
                position: absolute;
                top: 0;
                left: auto;
                right: 0;
                transition: right 1s;
            }
        }
    }
}
