@use "../../foundation/" as *;

*[class^="c-single"]{
    margin: 0 0 3.125vw 0;
    color: $textColor_Brown;
}

.c-single {
    &__Text--h2 {
        font-size: 1.875vw;
    }
    &__Text--h3 {
        font-size: 1.458vw;
    }
    &__Text--h4 {
        font-size: 1.042vw;
    }
    &__Text--h4 {
        font-size: 1.042vw;
    }
    &__Text--h5 {
        font-size: 1.042vw;
    }
    &__Text--h6 {
        font-size: 1.042vw;
    }
    &__Text--p {
        font-size: 0.833vw;
    }
    &__Blockquote {
        padding: 3.125vw;
        box-sizing: border-box;
        background-color: $bgColor_Bloquote;
        font-size: 0.833vw;
        &--p {
            margin: 2.604vw 0 0 0;
            font-size: 0.833vw;
        }
        &--a {
            color: $textColor_Blue;
            text-decoration: underline;
        }
    }
    &__Image--wide {
        display: flex;
        align-items: end;
        width: 100%;
        height: auto;
        aspect-ratio: 1353 / 500;
        overflow: hidden;
    }
    &__MediaBlock {
        &--mediaLeft {
            display: flex;
            flex-flow: row;
            align-items: flex-start;
        }
        &--mediaRight {
            display: flex;
            flex-flow: row;
            align-items: flex-start;
        }
        &--media {
            display:block;
        }
        &--text {
            display:block;
        }
    }
}


