
@use "../../foundation/" as *;

@include media(iPad){
    .c-size {
        &__FrontPage {
            width:100vw;
            &::before {
                width: 100vw;
                height: 100%;
            }
            &.inactive {
                &::before {
                    width: 100vw;
                    height: 100%;
                }
            }
        }
    }
}
.c-size {
    @include media(iPhone){
        &__MainCard {
            &--base {
                width: 81vw;
                height: 33vw;    
            }
            &--text {
                height: 18.1vw;
                width: 76vw;
            }
        }
    }
    &__Map {
        @include media(PC){
            width: 100%;
            height: auto;   
            &--text {
                width: 49.5vw;
                height: 100%;
            }     
        }
        @include media(iPad){
            width: 100vw;
            height: 100%;
        }
        @include media(iPhone){
            width: 100vw;
            height: 184vw;
            &--text {
                width: 100vw;
                height: 110vw;
            }
        }
    }
    @include media(iPhone){
        &__Footer{
            width: 100vw;
            height: 40vw;    
        }
    }
}
