
@use "../../foundation/" as *;

@include media(iPad){
    .c-size {
        &--FrontPage {
            width:100vw;
            &::before {
                width: 100vw;
                height: 100%;
            }
            &.inactive {
                &::before {
                    width: 100vw;
                    height: 100%;
                }
            }
        }
    }
}