@use "../../foundation/" as *;
.c-z-index {
    &--9999 {
        z-index: 9999;
    }
    &--0000 {
        z-index: 0;
    }
    &--0001 {
        z-index: 1;
    }
    &__FrontPage {
        z-index: 0;
        // &.inactive {
        //     z-index: 10;
        // }
    }
    &__NavMenu {
        z-index: 0;
        &.active {
            z-index: 9999;
        }
    }
}